### Step 1. 필요한 라이브러리 임포트

In [0]:
import pandas as pd

### Step 2. [데이터](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) 확인

- order_id 주문번호
- quantity 주문 개수
- item_name 주문한 상품명
- choice_description 선택사항
- item_price 가격

### Step 3. 데이터 불러오기


**read_csv를 통해 데이터를 올바른 형태로 불러온 뒤 chipo에 저장해주세요**

In [0]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv()

### Step 4. 가격이 $10.00 초과하는 item은 몇 종류인가요?

12

12

### Step 5. 각 아이템의 가격은 얼마인가요?

(중복된 item_name 없이) item_name과 item_price를 조회해주세요.

                  item_name  item_price
606        Steak Salad Bowl       11.89
1229    Barbacoa Salad Bowl       11.89
1132    Carnitas Salad Bowl       11.89
7             Steak Burrito       11.75
168   Barbacoa Crispy Tacos       11.75
39            Barbacoa Bowl       11.75
738       Veggie Soft Tacos       11.25
186       Veggie Salad Bowl       11.25
62              Veggie Bowl       11.25
57           Veggie Burrito       11.25
250           Chicken Salad       10.98
5              Chicken Bowl       10.98
8          Steak Soft Tacos        9.25
554   Carnitas Crispy Tacos        9.25
237     Carnitas Soft Tacos        9.25
56      Barbacoa Soft Tacos        9.25
92       Steak Crispy Tacos        9.25
664             Steak Salad        8.99
54               Steak Bowl        8.99
3750         Carnitas Salad        8.99

### Step 6. item_price가 가장 비싼 데이터를 조회해주세요.

3598번째 행이 조회되어야 합니다.

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 7. Veggie Salad Bowl은 몇 건 주문되었나요?

18

18

### Step 8. 2개 이상의 Canned Soda 주문은 몇 건 일어났나요?

Hint: 불리언 인덱싱
  - 두 개의 필터를 만든 뒤 & 조건으로 묶으세요
    - item_name이 Canned Soda
    - quantity가 2 이상 (quantity >= 2)
  - 불리언 인덱싱 후 행의 갯수를 세면 됩니다. (len() 또는 .count())

20